#ignore all
*

#but not...
!.clang-format
!LICENSE
!*.h
!*.cpp
!*.tpp
!*.hpp
!*.md
!*.yml
!*.mtx
!src/
!src/*
!tests/
!tests/*
!inst/
!inst/*
!inst/include/
!inst/include/*
!R/
!R/*
!man/
!man/*
!.gitignore
!data/
!data/*
!DESCRIPTION
!NAMESPACE
inst/doc

# specific files and extensions to be exluded

.DS_Store

*.txt
*.json
*.cmake
*Makefile
*.Rhistory
*.tar.gz
*Main.cpp
*Main
*.RData
*.o
*.so